/* Resets */

input {
  border: 0;
}

p, h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
}

/* Resets */

/* Global styling */
h1 {
  font-size: 2.0rem;
}

h2 {
  font-size: 2.3rem;
}

/* Navbar styles */

:root {
  width: 100%;
  height: 100%;
}

.navbar {
  padding: 1rem 0;
}

/* Change this styling to the logo later on */
.navbar h1 {
  margin-left: 5%;
}

/* Header styles */

.header {
  background-color: #4392F1;
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  padding: 4.5rem 0;
}

input[type='text'] {
  box-shadow: 0 3px 5px 0 rgb(9, 9, 9, 0.8);
  border-radius: 20px;
  width: 20rem;
  height: 2.5rem;
  padding: 0 1rem;

}

/* Instead of adding the magnifying glass into the input itself,
I made the div wrapper, position: relative, and the img position: absolute.
Now the img moves relatively on the div itself I believe.
 Never did this before
*/
.searchbar-wrapper {
  display: flex;
  align-items: center;
  position: relative;

}

.searchbar-wrapper img {
  position: absolute;
  right: 1rem;
  width: 1rem;

}

/* Report Container */

.report-container {
  height: 800px;
  padding: 3rem 5rem;
}

.report-buttons {
  display: flex;
  justify-content: space-between;
}


/* Footer styles */

.footer {
  border-top: 1px solid #CBCBCB;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.margin-right {
  margin-right: 3%;
}

.margin-left {
  margin-left: 3%;
}

.margin-top {
  margin-top: 3%;
}

.links {
  display: flex;
  gap: 1rem;
}

