:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  line-height: 24px;

  background-color: #F5F5F5;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
  padding: 0;

}